DB_URL=
DB_USERNAME=
DB_PASSWORD=

MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=

REDIS_DATABASE=0
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

APP_PROJECT_FOLDER=
APP_DEV=true
APP_ADMIN_ID=
APP_MAIL_FROM=

QQ_APP_ID=
QQ_APP_KEY=
QQ_URL_REDIRECT=

JWT_SECRET=

MINIO_ENDPOINT=
MINIO_PUBLIC_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=mypan
MINIO_BASE_PREFIX=file/

STORAGE_TYPE=local